body {
    background: #1f2129;
}
@font-face {
    font-family: clockFont;
    src: url(font/digital-7\(mono\).ttf);
}
.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: #30323b;
    color: #17d4fe;
    font-family: clockFont;
    font-size: 60px;
    letter-spacing: 7px;
    padding: 2rem 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 40px;
    width: 400px;
    height: 240px;
    box-shadow: inset 5px 5px 21px #131418, inset -5px -5px 21px #131418;
}
#MyDate{
    font-size: 22px;
    margin: 0px 0px 20px 0px;
}

.clock:hover{
    background: #1f2129;
    color: #3dbedbb9;
}